<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="faq.css" />
  </head>
  <body>
    <div class="faq-container">
      <h1>FAQ</h1>

      <div class="faq-sections">
        <div class="faq-item">
          <button class="faq-button">
            <i class="fa-solid fa-minus icon"></i>
            What is?
          </button>
          <div class="faq-content active">
            <!-- Content goes here -->
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-button">
            <i class="fa-solid fa-plus icon"></i>
            How to?
          </button>
          <div class="faq-content">
            <!-- Content goes here -->
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-button">
            <i class="fa-solid fa-plus icon"></i>
            Do I need?
          </button>
          <div class="faq-content">
            <!-- Content goes here -->
          </div>
        </div>
      </div>
    </div>
    <script src="faq.js"></script>
  </body>
</html>
