:root {
  --fsBody: 1.8rem;
  --fsHeadingMobile: 2.9rem;
  --fsHeadingTabletDesktop: 3.5rem;
  --xsDis: 4px;
  --smDis: 8px;
  --mdDis: 16px;
  --lgDis: 32px;
  --xlDis: 64px;
  --mainColor1: #494949;
  --mainColor2: #000000;
  --subColor1: #838383;
  --subColor2: #cdcdcd;
  --subColor3: #ffffff;
}

.swiper-container {
  height: 500px !important;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
  background: var(--mainColor1);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  height: 30px;
  background-color: var(--primary-color);
  bottom: 10 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px; border-radius: 12px;
  background: var(--subColor3) !important;
}

.swiper-pagination-bullet-active {
  width: 42px !important;
  border-radius: 30px !important;
  background-color: black !important;
}
