<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel component</title>
    <link rel="stylesheet" href="carousel.css" />
    <script src="carousel.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="../../assets/img/carousel-1.png" alt="Slide 1" />
          </div>
          <div class="swiper-slide">
            <img src="../../assets/img/carousel-1.png" alt="Slide 2" />
          </div>
          <div class="swiper-slide">
            <img src="../../assets/img/carousel-1.png" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="../../assets/img/carousel-1.png" alt="Slide 4" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </body>
</html>
